.location-container {
  display: flex;
  justify-content: space-evenly;
}

.green {
  color: green;
}

.red {
  color: red;
}

.activities {
  height: 150px;
  overflow-y: auto;
}

form {
  text-align: center;
}